#logo {
	max-width: 15rem;
	height: auto;
	display: block;
	margin-right: 1.25rem;
	font-size: 4.5rem;

	@media (max-width: 48rem) {
		/* 768px */
		max-width: 12.5rem;
	}
	@media (max-width: 30rem) {
		/* 480px */
		max-width: 2rem;
		margin-right: 0.25rem;
		font-size: 2rem;
	}
}
