@use '../abstracts/variables' as vars;

.section {
	text-align: center;
	padding: 1rem 0;
	max-width: vars.$website-width;
	margin: auto;
	display: grid;
	place-items: center;
	&__title {
		font-size: 1.7rem;
		text-align: center;
		border-bottom: vars.$main-color 0.2rem solid;
	}
	&__subtitle {
		font-size: 1.2rem;
		text-align: center;
	}
}
