@use '../abstracts/variables' as vars;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	position: relative;
}

p {
	margin-bottom: 1rem;
}

ul,
ol {
	list-style: none;
	padding: 0;
}

a {
	color: vars.$dark-color;
	text-decoration: none;
}
img {
	width: 100%;
}
h2,
h3,
h4 {
	text-transform: uppercase;
}
main {
	position: relative;
}

//CANVAS
#webgl {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
}
